.DS_Store

# Buck
buck-out/
.buckd/

# Downloaded buck
tools/buck

# Xcode
**/xcuserdata/
**/*.xcodeproj/
**/*.xcworkspace/

# Make
*.d

# Ruby gems
vendor/bundle/

# Build
build/

# DAG chart generated
result.dot
result.png
