.DS_Store

# Buck
buck-out/
.buckd/

# Downloaded buck
tools/buck

# Xcode
**/xcuserdata/
**/*.xcodeproj/
!App/SiriShortcut/_IntentsCompiler/IntentsCompiler.xcodeproj
**/*.xcworkspace/
**/build/

# Make
*.d
